Bienvenido<br>
Que Base de Datos deseas hacer<br>
<form>
    Seleccionar la base de datos<br>
    <select name="" id="">
        <option value="1">1.-Practice Database</option>
        <option value="2">2.-Large Practice Database</option>
        <option value="4">3.-Movie Lens 100k database</option>
    </select>
    <br>
    Seleccionar como desea cargar la base de datos <br>
    <select name="" id="">
        <option value="1">1.-Using Chunks</option>
        <option value="2">2.-Without Chunks</option>
    </select>
    <br>
    Que desea hacer <br>
    <select name="" id="">
        <option value="1">1.-Calculate a distance</option>
        <option value="2">2.-Make a recomendation</option>
    </select><br>
    <!--calcular una distancia -->
    <select name="" id="">
        <option value="1">1.-Calculate Manhattan</option>
        <option value="2">2.-Calculate Euclidian</option>
        <option value="3">3.-Calculate Minkowski</option>
        <option value="4">4.-Calculate Pearson</option>
        <option value="5">5.-Calculate Cosine similarity</option>
        <option value="6">6.-Calculate Jaccard</option>
    </select><br>
    Seleccione a que usuarios desea sacar la distancia<br>
    <input type="text" name="usuario1" id="">
    <br>
    <input type="text" name="usuario1" id="">
    <br>
    <!--Recomendation -->
    Con que distancia desea calcular la KNN<br>
    <select name="" id="">
        <option value="1">1.-Calculate Manhattan</option>
        <option value="2">2.-Calculate Euclidian</option>
        <option value="3">3.-Calculate Minkowski</option>
        <option value="4">4.-Calculate Pearson</option>
        <option value="5">5.-Calculate Cosine similarity</option>
        <option value="6">6.-Calculate Jaccard</option>
    </select>
    <br>
    Selecciona el usuario<br> 
    <input type="text" name="usuario" id="">
    <br>
    Seleccion el numero de vecinos<br>
    <input type="text" name="nusuarios" id="">
    <br>
    Seleccione el ID de la pelicula<br>
    <input type="text" name="nusuarios" id="">
</form>